################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/

CSharp/me/TddKata1.UnitTests/obj/
CSharp\me\TddKata1.UnitTests\obj/